#lucid-add-button {
    position: absolute;
    right: 3%;
    bottom: 3%;
    z-index: 6;
}

#lucid-create-job-dialog {
    width: 410px;
}

#lucid-create-feature-dialog {
    width: 390px;
}

#lucid-toast {
    z-index: 10;
}

.text-center {
    text-align: center;
}

.lucid-progress-indicator {
    position: absolute;
    z-index: 6;
}

.lucid-code-preview {
    width: 970px;
    min-height: 800px;
}

.full-width {
    width: 100%;
}
