#lucid-add-button {
    position: absolute;
    right: 3%;
    bottom: 3%;
    z-index: 6;
}

#lucid-create-job-dialog {
    width: 500px;
}

.lucid-code-preview {
    width: 970px;
    min-height: 800px;
}

.full-width {
    width: 100%;
}
